
*
!.gitignore


!.config/
!.config/hypr/
!.config/hypr/**

!.config/waybar/
!.config/waybar/**

!.config/rofi/
!.config/rofi/**

!.config/kitty/
!.config/kitty/**

!.config/gtk-3.0/
!.config/gtk-3.0/**

!.local/
!.local/bin/
!.local/bin/**

!.zshrc


!.themes/
!.themes/**


!.oh-my-zsh/
!.oh-my-zsh/themes/
!.oh-my-zsh/themes/candypink.zsh-theme