[Unit]
Description=Actualizar Discord automáticamente al iniciar sesión

[Service]
Type=oneshot
ExecStart=/usr/bin/discordup

[Install]
WantedBy=default.target

